		/*
			Vertical Accordions
		*/
		
		.accordion_toggle {
			display: block;
			height: 30px;
			width: 1200px;
		/*	background: url(../images/modules/accordion_toggle.jpg) no-repeat top right #a9d06a;	*/
			background: url(../images/modules/accordion_toggle.jpg) no-repeat top right #53b8d9;
			padding: 0 10px 0 10px;
			line-height: 30px;
			color: #ffffff;
			font-weight: normal;
			text-decoration: none;
			outline: none;
			font-size: 12px;
			color: #000000;
			/*	border-bottom: 1px solid #cde99f;	*/
			border-bottom: 1px solid #00769C;
			cursor: pointer;
			margin: 0 0 0 0;
		}
		
		.accordionResignation {
			display: block;
			width: 98%;
		/*	background: url(../images/modules/accordion_toggle.jpg) no-repeat top right #a9d06a;	*/
			background: url(../images/modules/accordion_toggle.jpg) no-repeat top right #53b8d9;
			padding: 10px 10px;
			color: #ffffff;
			font-weight: normal;
			font-family: 'OSWALD-LIGHT';
			font-size: 22px;
			border-bottom: 1px solid #00769C;
			cursor: pointer;
		}
		
		.accordionResignationContent {
			background-color: #ffffff;
			color: #444444;
			overflow: hidden;
		}
		
		.accordion_toggle_active {
		/*	background: url(../images/modules/accordion_toggle_active.jpg) no-repeat top right #E0542F;	*/
			background: url(../images/modules/accordion_toggle_active.jpg) no-repeat top right #b8bec0;
			color: #ffffff;
			/*	border-bottom: 1px solid #f68263;	*/
			border-bottom: 1px solid #00769C;
		}
		
		.accordion_content {
			background-color: #ffffff;
			color: #444444;
			overflow: hidden;
			/*	width: 1226px;	*/
			width: 1120px;
			padding: 0 50px;
		}
			
			.accordion_content h2 {
				margin: 15px 0 5px 10px;
				color: #0099FF;
			}
			
			.accordion_content p {
				line-height: 150%;
				padding: 5px 10px 15px 10px;
			}
			
		.vertical_accordion_toggle {
			display: block;
			height: 30px;
			width: 1106px;
			background: url(../images/modules/accordion_toggle.jpg) no-repeat top right #53b8d9;
			padding: 0 10px 0 10px;
			line-height: 30px;
			color: #ffffff;
			font-weight: normal;
			text-decoration: none;
			outline: none;
			font-size: 12px;
			color: #000000;
			border-bottom: 1px solid #cde99f;
			cursor: pointer;
			margin: 0 0 0 0;
			float: left;
		}

		.vertical_accordion_toggle_active {
			background: url(../images/modules/accordion_toggle_active.jpg) no-repeat top right #b8bec0;
			color: #ffffff;
			border-bottom: 1px solid #f68263;
		}

		.vertical_accordion_content {
			height: 650px;	/* We need to define a height for the accordion as it stretches the width */
			float: left;	/* This make sure it stays horizontal */
			background-color: #ffffff;
			color: #444444;
			overflow: hidden;
			width: 1120px;
		}

			.vertical_accordion_content h2 {
				margin: 15px 0 5px 10px;
				color: #0099FF;
			}

			.vertical_accordion_content p {
				line-height: 150%;
				padding: 5px 10px 15px 10px;
			}
  			
		/*
			Horizontal Accordion
		*/
		
		.horizontal_accordion_toggle {
			/* REQUIRED */
			float: left;	/* This make sure it stays horizontal */
			/* REQUIRED */

			display: block;
			/*	height: 100px;	*/
			height: 650px;
			width: 30px;
			background: url(../images/modules/h_accordion_toggle.jpg) no-repeat top left #53b8d9;
			color: #ffffff;
			text-decoration: none;
			outline: none;
			/*	border-right: 1px solid #cde99f;	*/
			border-right: 1px solid #00769C;
			cursor: pointer;
			margin: 0 0 0 0;
		}
		
		.horizontal_accordion_toggle_active {
			background: url(../images/modules/h_accordion_toggle_active.jpg) no-repeat top left #B8BEC0;
			border-right: 1px solid #00769C;
		}
		
		.horizontal_accordion_content {
			/* REQUIRED */
			height: 650px;	/* We need to define a height for the accordion as it stretches the width */
			float: left;	/* This make sure it stays horizontal */
			/* REQUIRED */
			
			padding:25px 0;
			overflow: hidden;
			background-color: #ffffff;
			color: #444444;
		}
			
			.horizontal_accordion_content p {
				width: 450px;
				line-height: 150%;
				padding: 5px 10px 15px 10px;
			}
					
					
    /* Container styling*/
    #horizontal_container {
      margin: 20px auto 20px auto;
      /*	width: 680px; 
			height: 100px;  	*/
      width: 1226px;   
      height: 650px;    
    }
    
    #vertical_nested_container {
      margin: 20px auto 20px auto;
      /*	width: 620px;	*/
      width: 1126px;
      height: 650px;
    }
