html{cursor:url("../images/pakistan.ani"), url("../images/pakistan.gif"), auto;}
body{background:url(../images/bg.jpg) 0 0 repeat;font-family:Arial;color:#000;font-size:12px;line-height:17px}
.mainBody{float:left;width:100%}
.mainDiv{float:none;margin:0 auto;width:1258px;/*height:600px;*/}
.normalLink{color:#900;text-decoration:underline;font-size:13px;font-weight:normal}
.bold{font-weight:bold}
.clear{clear:both}
/*      HEADER and FOOTER   */
/*.headerMain{ background:url(../images/header_bg.jpg) 0 0 repeat-x;height:55px;padding:23px 0 0 40px; width:1218px;}
.headerTitle {width:800px;float:left;}
.headerTitle a{color:#FFF;font-size:32px; font-family:'OSWALD-LIGHT';font-weight:normal;line-height:30px}
.headerTitle span{font-weight:lighter;}

.logoutMain{width:413px;float:right;padding: 15px 5px 0 0;}
.logoutButton{width:60px;float:right;}
.logoutText{width:343px;float:left;padding: 0 10px 0 0;line-height:25px;color:#FFF;font-size:18px; font-family:'OSWALD-LIGHT';font-weight:normal;text-align:right;}
*/
.headerMain{ background-color:#247143; /*background:url(../images/header_bg.jpg) 0 0 repeat-x;*/height:78px;width:1258px;}
.headerTitle {float:left;padding:23px 0 0 40px;width:760px}
.headerTitle a{color:#FFF;font-size:36px; font-family:'OSWALD-LIGHT';font-weight:normal;line-height:30px}
.headerTitle span{font-weight:lighter;}

.logoutMain{float:right;padding:38px 5px 0 0;width:413px}
.logoutButton{float:right;width:60px}
.logoutText{color:#FFFFFF;float:left;font-family:'OSWALD-LIGHT';font-size:18px;font-weight:normal;line-height:25px;padding:0 10px 0 0;text-align:right;width:343px}
/* ================ Header Login Begin ================ */

.headerLoginMain{float:left;padding:6px 5px 0 0;width:452px}
.headerTextBox{background-color:#cdf2dc;border:1px solid #006282;color:#006282;float:left;font-size:11px;margin:0 0 2px 8px;padding:2px 5px;width:155px;}
.headerLoginLabel{color:#FFFFFF;font-family:Arial;font-size:11px;padding:2px 0 0;width:77px}
.button a{color:#FFFFFF;float:left;font-size:11px;font-family:Arial;padding:7px 0 0;text-decoration:none}
.button a:hover{color:#FBBD00;text-decoration:underline}

/* ================ Header Login End ================ */

/*	.messageBox{float:left;background-color:#E2F8FF;height:25px;width:1255px;margin: 5px 0 0;border:1px solid #247143;height:auto;}	*/
.messageBox{float:left;background-color:#cdf2dc;width:1256px;margin: 0 0 5px;border:1px solid #247143;line-height:18px;}
.errorMessage{color:red;margin:0 0 0 10px;font-size:12px;font-weight:bold;}
.successMessage{color:green;margin:0 0 0 10px;font-size:13px;font-weight:bold;}

.midMain{float:left;width:100%;}
.searchBoxSection{float:left;margin:15px 0 0 0;width:100%; border: 1px solid green}
.menuBarSection{float:left;margin:10px 0;width:100%;}
.menuBarMain{}
.loginBoxMain{background-color:#FFF;border-color:#247143;border-style:solid;border-width:9px 1px;float:none;height:215px;margin:125px auto;padding:5px;width:356px}
.loginBoxHeader{background:url(../images/login_box_header-pk.jpg) 0 0 no-repeat; float:left; height:59px; width:356px}
.loginContent{float:left;margin:15px 0 0;width:356px}
.loginLeftCol{color:#247143;font-family:Arial;font-size:12px;height:30px;vertical-align:bottom;width:125px}
.loginRightCol{height:30px;vertical-align:bottom;width:231px}
.loginTextBox{background-color:#dee4e0; border:solid 1px #247143;color:#000;float:left;font-size:11px;line-height:11px;margin:0 0 0 10px;padding:3px 5px;width:170px}
.loginButtonCol{height:30px;padding:10px 50px 0 0}
.loginButtonCol a{color:#247143; text-decoration:none}
.loginButtonCol a:hover{color:#F99F02; text-decoration:underline}
.smallButton{background-color:#cad1cd;border:solid 1px #247143;color:#247143;font-size:12px;height:24px;padding:3px 5px;text-align:center;cursor:pointer;}
.smallButtonUpdate{background-color:#C00;border:solid 1px #01546E;color:#FFF;font-size:12px;height:24px;padding:3px 5px;text-align:center}
.smallButtonSelected{background-color:#85c59f;border:solid 1px #01546E;color:#FFF;font-size:12px;height:24px;padding:3px 5px;text-align:center}
/*	.searchButton{background-color:#778648;border:solid 1px #5E683E;color:#FFF;font-size:12px;height:24px;padding:3px 5px;text-align:center}	*/
.searchButton{background-color:#616364;border:solid 1px #01546E;color:#FFF;font-size:12px;height:24px;padding:3px 5px;text-align:center}

.footerMain{border-top:solid 6px #247143;float:left;height:60px;margin:10px 0 0;width:100%}
.footerText{color:#000;float:none;font-size:11px;margin:15px auto 0;text-align:center;width:500px}


.midSection{float:left;font-family:'OSWALD-LIGHT';font-size:30px;width:100%}
.dashboardTitle{color:#247143;float:none;font-family:'OSWALD-LIGHT';font-weight:lighter;font-size:32px;line-height:26px;margin:25px auto;text-align:center;}
.notificationMain{float:none;height:210px;margin:0 auto;width:1010px}
.notificationBox{background-color:#FFF;border-color:#247143;border-style:solid;border-width:9px 1px;float:left;height:151px;padding:15px;width:978px}
.notificationBox h1{color:#247143;float:left;font-size:26px;font-weight:lighter;line-height:30px}
.notificationContent{float:left;font-family:arial;font-size:12px;height:105px;line-height:17px;overflow-y:auto;padding:8px 0; width:978px}
.notificationContent ul{margin: 15px 0 0;}
.dashboardBoxesMain{float:none;margin:0 auto;width:1080px}
.internalMessageBox{border:1px dotted #01546E;float:left;color:#008000;font-weight:bold;margin:10px 30px 0 30px;background-color:#EDEDED;padding:5px 10px;}
.mainMessageBoxContainer{float:left;width:1216px;margin: 0 0 5px 21px;}
.mainMessageBox{border:1px dotted #01546E;float:none;color:#008000;font-size:16px;font-weight:bold;background-color:#EDEDED;padding:5px 20px;width:969px;margin: 0 auto;line-height:20px;}
.boxMain{background-color:#FFF;border-color:#247143;border-style:solid;border-width:9px 1px;float:left;height:171px;margin:25px 35px;padding:5px;width:188px}
.boxImageMain{float:left;height:120px;width:100%;text-align:center;}
.boxTitle{background-color:#cad1cd;float:left;height:43px;padding:8px 5px 0;text-align:center;width:178px}
.boxTitle a{color:#247143;font-size:16px;text-decoration:none;}
.boxTitle a:hover{color:#000000;text-decoration:underline}


/* ================ Main Navigation Begin ================ */

.navBar{background: url('../images/menu_bg.jpg') repeat-x scroll left bottom rgba(0, 0, 0, 0);margin:0 0 35px;border-color:#D4D6D6;border-style:solid;border-width:1px 1px 0 0;height:45px;position:relative;}
.navBar ul {padding:0;margin:0;list-style:none;padding:0}
.navBar > ul {float:left;}
.navBar > ul > li {float:left;border-left:1px solid #D4D6D6}
.navBar > ul > li > a {color:#247143;display:block;font-family:arial;font-size:13px;font-weight:bold;line-height:17px;padding:6px 20px 5px;text-align:center;text-decoration:none}
/*	.navBar > ul > li > ul {background-color:#B8BEC0; height:33px;left:-9999px;opacity:0;padding:4px 0 0 25px;position:absolute;-moz-transition: opacity 0.5s;-ms-transition: opacity 0.5s;-o-transition: opacity 0.5s;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;width:1233px}	*/
.navBar > ul > li > ul {background-color:#B8BEC0; height:auto;left:-9999px;opacity:0;padding:3px 0 3px 25px;position:absolute;-moz-transition: opacity 0.5s;-ms-transition: opacity 0.5s;-o-transition: opacity 0.5s;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;width:1233px}
/*	.navBar > ul > li.current > ul {background-color:#85c59f;height:33px;left:-9999px;opacity:0;padding:6px 0 0 25px;position:absolute;transition:opacity 0.5s ease 0s;width:1233px}	*/
.navBar > ul > li.current > ul {background-color:#85c59f;height:auto;left:-9999px;opacity:0;padding:6px 0 6px 25px;position:absolute;transition:opacity 0.5s ease 0s;width:1233px}
/**	.navBar > ul > li.current > ul {background-color:#85c59f;height:auto;left:-9999px;opacity:0;padding:6px 0 6px 25px;position:absolute;transition:opacity 0.5s ease 0s;width:1233px;width:1231px;border-width:0 1px 1px;border-style:solid;border-color:#85c59f}	**/
/*	.navBar > ul > li > ul > li {float:left;position:relative;color:#003647;border-right: 1px dotted #FFFFFF}	*/
.navBar > ul > li > ul > li {border-right:1px dotted #FFFFFF;color:#247143;float:left;position:relative;/*margin:3px 0;*/}
.navBar > ul > li > ul > li > a {color:#247143;display:block;font-family:Arial;font-size:13px;line-height:30px;margin:0 4px;padding:0 4px;text-decoration:none;font-weight:bold}
.navBar > ul > li.current > ul > li > a {color:#FFFFFF;display:block;font-family:arial;font-size:13px;line-height:27px;margin:0 4px;padding:0 4px;text-decoration:none;font-weight:bold}
.navBar > ul > li:hover > a {background-color:#B8BEC0;color:#247143}
.navBar > ul > li:hover > ul {left:0;opacity:1}
.navBar > ul > li > ul > li:hover > a {color:#fff; background-color:#247143}
.navBar > ul > li > ul > li:hover > a.arrow {background-color:#247143; font-family:Arial}
.navBar > ul > li.current > a {background-color:#85c59f;color:#FFFFFF}
.navBar > ul > li.current > ul {left:0;opacity:1}
.navBar > ul:hover > li.current > a {background-color:#85c59f;}
.navBar > ul:hover > li.current > ul {left:-9999px;}
.navBar > ul:hover > li.current:hover > a {background-color:#85c59f}
.navBar > ul:hover > li.current:hover > ul {left:0;opacity:1}
.navBar > ul > li > ul > li.selected > a {background-color:#247143;color:#FFF;}
.navBar > ul > li > ul > li.current > a b {background-color:#555657}

/* ================ Main Navigation End ================ */

/* ================ List and Form Start ================ */
.listPageMain{float:left;height:auto;margin:0 auto;width:1257px;background-color:#FFF}
.searchBoxMain{float:left;height:auto;margin:0 0 5px;width:100%}
.searchHeader{background-color:#616364;color:#FFF;float:left;font-family:Arial;font-size:17px;height:17px;line-height:16px;padding:5px 10px;text-align:left;width:1237px}
.searchcontentmain{background-color:#EDEDED;border-color:#616364;border-style:solid;border-width:0 1px 6px;color:#000000;float:left;font-family:Arial;font-size:17px;height:auto;line-height:16px;padding:10px 42px;text-align:left;width:1171px}
.searchCol{float:left;min-height:70px;max-height:auto;width:390px;}
.labelContainer{color:#014054;float:left;font-size:12px;padding:6px 10px 0 0;text-align:right;width:145px}
.textBoxContainer{float:left;margin:0 28px 10px 0;width:200px;}
.textBoxContainerLast{float:left;margin:0 0 10px}
.textBox{background-color:#FFF;border:1px solid #66A1AE;color:#000000;float:left;font-size:12px;margin:0;padding:5px 7px;width:184px}
.dropDown{background-color:#FFF;border:1px solid #66A1AE;color:#000000;float:left;font-size:12px;height:25px;margin:0;padding:2px;width:200px}
.textArea{background-color:#FFF;border:1px solid #66A1AE;color:#000000;float:left;font-size:12px;margin:0;padding:4px;width:200px}
.mandatoryStar{color:#FF0000;font-weight:bold;font-family:'Lucida Grande';}
/* ================ List and Form End ================ */

/* ================ Form Start ================ */
.formMain{border:1px dotted #01546E;float:left;font-family:Arial;font-size:18px;height:auto;margin:10px 0 10px 30px;padding:0 0 10px}
.formMainWide{border:1px dotted #01546E;float:left;font-family:Arial;font-size:18px;height:auto;margin:10px 30px;padding:0 10px 10px;width:1177px}
.formHeaderRow{background-color:#247143;color:#FFFFFF;font-size:18px;height:40px;line-height:20px;padding:0 0 0 30px}
.formLabelContainer{color:#014054;font-size:12px;padding:5px 10px 0 0;text-align:right;width:200px;/*float:left;*/}
.formLabelContainerApply{color:#014054;font-size:12px;padding:10px 10px 0 0;text-align:right;width:200px;float:left;}
.formTextBoxContainer{height:30px;padding:6px 10px}
.formCheckBoxContainer{height:30px;padding:5px 0 0}
.formaButtonContainer{height:30px;padding:7px 53px 0 0;}
.formAlternateRow{background-color:#cdf2dc}
.center{text-align:center;}
/* ================ Form End ================ */


.dropDownSmall{background-color:#FFF;border:1px solid #66A1AE;color:#000000;font-size:12px;height:21px;padding:2px;min-width:80px;margin:2px 0 0;}
.formLabelText{color:#014054;font-size:12px; border:1px dotted #01546E;width:180px;}
.formLabelText span{padding:11px 10px 0;}
.formSubHeaderRow{border:1px dotted #01546E;color:#014054;font-size:12px;padding:11px 0 0;text-align:center;}
.formButtonContainerWide{height:30px;margin:10px 30px 0;padding:0 0 10px;float:right}
.formTextBoxContainer div{color:#014054;font-size:12px;font-weight:bold;padding:4px 0 0;}
.formTextBoxContainer a{color:#247143;font-size:12px;line-height:12px;}
.formTextBoxContainer a:hover{color:#000000;}
.spanAnchor {padding:0 0 0 8px;}

.centerButtonContainer{float:left;height:auto;margin:0 0 5px;width:100%}
.addButton{background-color:#247143;border:solid 1px #01546E;color:#FFF;font-size:12px;height:24px;padding:3px 5px;text-align:center}

.centerElementsContainer{float:left;margin:0 0 5px;background-color:#cad1cd;border:1px solid #247143;width:1255px;color:#014054;font-weight:bold;}
.recordCountContainer{float:left;padding:0 0 0 5px;}
.pagingContainer{float:right;padding:0 5px 0 0;}
.centerElementsContainer a{color:#298CAC;text-decoration:underline}
.centerElementsContainer a:hover{color:#014054}



/* ================ List Page Start ================ */
.buttonContainer{float:right;height:30px;margin:0 0 2px 0;padding:0 64px 0 0;text-align:right;width:1108px}
.listContentMain{border:1px solid #247143;background-color:#FFFFFF;float:100%;height:400px; overflow:auto;width:1255px}
.listContentCareer{border:1px solid #247143;background-color:#FFFFFF;float:100%;height:auto; overflow:auto;width:1256px;margin: 5px 0 0;}
.listTableMain{float:left;font-family:'Calibri';width:100%}
.listHeader{ background-color:#247143;/*background:url(../images/table_header_bg.jpg) 0 0 repeat-x #298CAC; */height:46px; color:#fff; font-size:16px;line-height:16px}
.listHeaderCol{border-width:0 1px 1px 0;border-style:dotted;border-color:#FFF;padding:0 0 0 5px}
.listHeaderColLast{border-width:0 0 1px;border-style:dotted;border-color:#FFF;padding:0 0 0 5px}
.listContent{ background-color:#FFF;height:35px;color:#333333;font-size:13px;line-height:16px}
.listContent a{color:#247143;font-size:13px;line-height:16px}
.listContent:hover{background-color:#EDEDED}
.listContentAlternate{ background-color:#cdf2dc;height:35px;color:#333333;font-size:13px;line-height:16px}
.listContentAlternate:hover{background-color:#EDEDED}

.listContentCol{border-width:0 1px 1px 0;border-style:dotted;border-color:#999;padding:0 0 0 5px;max-width:200px}
.listContentColLast{border-width:0 0 1px;border-style:dotted;border-color:#999;padding:0}
.colButtonContainer{float:right;margin:4px 8px 4px 0;text-align:right;width:300px}
/* ================ List Page End ================ */

.paddingAll{padding: 10px;}
.paddingTopBottom{padding: 10px 0;}

.mainContainer {margin: 40px 50px; padding: 40px 80px;    height:450px; border: 1px solid blue;}
.iconContainer {float:left; width: 160px; border: 1px solid green;}
.row1 {margin: 0 40px;}
.row2 {margin: 50px 40px;}
.iconImage {padding: 5px 5px;}
.iconText {padding: 5px 5px; text-align: center;}

.listHeaderColClickable{border-width:0 1px 1px 0;border-style:dotted;border-color:#FFF;padding:0 0 0 5px;cursor:pointer;text-decoration:underline}


.interviewHistoryMain{overflow:auto;border:1px solid #7C7D7D}
.historyTableMain{float:left;font-family:'Calibri';width:100%}
.historyHeader{background-color:#C4C6C6;color:#003647;font-size:16px;height:46px;line-height:16px}
.historyHeaderCol{border-color:#FFFFFF;border-style:dotted;border-width:0 1px 1px 0;padding:0 0 0 5px}
.historyHeaderColLast{border-color:#FFFFFF;border-style:dotted;border-width:0 0 1px;padding:0 0 0 5px}
.historyContent{background-color:#FFFFFF;color:#333333;font-size:13px;height:35px;line-height:16px}
.historyContentAlternate{background-color:#E4E9EA;color:#333333;font-size:12px;height:35px;line-height: 16px}
.historyContentCol{border-color:#999999;border-style:dotted;border-width:0 1px 1px 0;height: 41px;padding:0 0 0 5px}
.historyContentColLast{border-color:#999999;border-style:dotted;border-width:0 0 1px;height: 41px;padding:0 0 0 5px}


.subHeading{color:#6ac18d;font-weight:bold;font-size:17px;line-height:17px;padding:7px 0 5px;}
.subHeadingLabel{color:#003647;font-weight:normal;font-size:14px;font-family:Calibri;line-height:14px;margin:5px 0 0;}
.subHeadingLabel label{margin:0 0 0 5px;}
.subTableMainDiv{overflow:auto;border:1px solid #7C7D7D}
.subTableMain{float:left;font-family:'Calibri';width:100%}
.subHeader{background-color:#C4C6C6;color:#003647;font-size:14px;height:35px;line-height:14px}
.subHeaderCol{border-color:#FFFFFF;border-style:dotted;border-width:0 1px 1px 0;padding:0 0 0 5px}
.subHeaderColLast{border-color:#FFFFFF;border-style:dotted;border-width:0 0 1px;padding:0 0 0 5px}
.subContent{background-color:#FFFFFF;color:#333333;font-size:13px;height:35px;line-height:16px}
.subContentAlternate{background-color:#E4E9EA;color:#333333;font-size:12px;}
.subContentCol{border-color:#999999;border-style:dotted;border-width:0 1px 1px 0;height:35px;padding:0 0 0 5px}
.subContentColLast a{color:#247143;font-size:12px;line-height:12px;}
.subContentColLast a:hover{color:#000000;}
.subContentColLast{border-color:#999999;border-style:dotted;border-width:0 0 1px;height: 41px;text-align:center;}
.dropDownSub{background-color:#FFF;border:1px solid #66A1AE;color:#000000;font-size:12px;height:22px;padding:2px;width:150px;margin:0 3px;}
.textBoxSub{background-color:#FFF;border:1px solid #66A1AE;color:#000000;float:left;font-size:12px;height:22px;margin:0 3px;padding:2px 7px;width:150px}
.textAreaSub{background-color:#FFF;border:1px solid #66A1AE;color:#000000;float:left;font-size:12px;margin:5px 3px;padding:4px;width:285px;height:35px;}
.formMainWideSub{border:1px dotted #01546E;float:left;font-family:Arial;font-size:18px;height:auto;margin:10px 30px;padding:0 10px 10px;width:1097px}
/*	.spanAnchorSub {padding:0;}	*/
.spanLabel {padding:0 0 0 8px;line-height:25px;font-size:12px; font-style:italic; color:#999}

/* ================ Employee Detail Begin ===================*/

.employeeMessageBox{float:left;background-color:#cdf2dc;width:946px;margin: 0 0 5px;border:1px solid #247143;line-height:18px;}
.employeeFormMain{border:1px dotted #01546E;float:left;font-family:Arial;font-size:18px;height:auto;padding:0 0 10px;width:100%;margin: 0 0 10px 0;}
.employeeDetailLeftCol{float:left;height:auto;margin:10px 0 0;padding:0 0 0 10px;width:231px}
.employeePicMain{background-color:#FFFFFF;border:7px solid #85c59f;float:left;min-height:102px;margin:0 0 5px;padding:10px;width:187px}
.employeePicContainer{background-color:#E3E2E2;border:1px dotted #666666;float:left;min-height:100px;width:185px}
.employeeNameContainer{background-color:#247143;border:1px dotted #01546E;font-family:'Calibri';font-size:18px;color:#FFFFFF;text-align:center;padding:10px 0 0;min-height:28px;width:185px;margin:3px 0 0;line-height:20px;}
.employeeDetailLinksMain{float:left;height:auto;width:234px}
.employeeDetailLinksMain ul{float:left;list-style:none}
.employeeDetailLinksMain ul li{border-bottom:1px dotted #666666;float:left;font-family:arial;padding:15px 0 10px 5px;font-size:14px;line-height:14px;margin:5px 0 0;width:216px}
.employeeDetailLinksMain ul li span{color:#04516A;text-align:left;text-decoration:none}
.employeeDetailLinksMain ul li a{color:#04516A;text-align:left;text-decoration:none}
.employeeDetailLinksMain ul li:hover{background-color:#B8BEC0;color:#000000;width:216px}
.employeeDetailLinksMain ul li.selected{background-color:#85c59f;color:#000000;font-size:14px;line-height:14px;width:229px}
.employeeDetailRightCol{border:10px solid #85c59f;float:left;min-height:650px;margin:10px 0 10px;padding:10px;width:961px}
.empColButtonContainer{float:right;margin:4px 8px 4px 0;text-align:right;min-width:150px}
.dottedBorder{border-width:1px 1px 0 1px; border-color:#999999;border-style:dotted;}
/* ================ Employee Detail End ===================*/

/* ======== Chat Page Start =========*/
.interviewHistoryMain{background-color:#FFFFFF;border:1px solid #7C7D7D;overflow:auto;padding:15px}
.intervieweeMain{float:left;height:auto;width:100%}
.interviewee{background-color:#cad1cd;border:6px solid #6ac18d;color:#000000;padding:10px;text-align:justify;width:650px}
.intervieweeIcon{background:url('../images/interviewee-balloon.png') 60px 0 no-repeat;height:85px;padding:5px 0 0;width:300px}
.intervieweeIconImage{float:left;margin:5px 10px 0 0}
.intervieweeIconName{float:left;margin:25px 0 0}
.reporterMain{float:left;height:auto;width:100%}
.reporter{background-color:#F2F2F2;border:6px solid #C4C6C6;color:#000000;float:right;padding:10px;text-align:justify;width:650px}
.reporterIcon{background:url('../images/reporter-balloon.png') 198px 0 no-repeat;height:85px;padding:5px 0 0;width:300px;clear:both;float:right}
.reporterIconImage{float:right;margin:5px 0 0 10px}
.reporterIconName{float:right;margin:25px 0 0; text-align:right}
/* ======== Chat Page End =========*/

.accessDeniedMain{background-color:#FFFFFF;float:left;height:400px;margin:0 auto;width: 1257px}
.accessDenied {float:none;font-family:'OSWALD-LIGHT';font-size:25px;text-align:center;height:auto;margin:0 auto;width:700px;color:#FF0000}
.smallButtonMsg{background-color:#247143;font-family:'OSWALD-LIGHT';line-height:14px;border:solid 1px #01546E;color:#FFF;font-size:16px;height:37px;padding:4px 100px;text-align:center;cursor:pointer}

.lunchContainer{width:1250px; height:600px; background:url(../images/lunch-bg.png) no-repeat;}
.attendanceContainer{width:1250px; height:600px; background:url(../images/attendance-bg.png) no-repeat;}
.fileIcon{margin:-5px 0 0;}

.notificationWideMain{float:none;min-height:300px;margin:0 auto;width:1258px}
.notificationWideBox{background-color:#FFF;border-color:#247143;border-style:solid;border-width:9px 1px;float:left;padding:15px;width:1226px}
.notificationWideBox h1{color:#247143;float:left;font-size:26px;font-weight:lighter;line-height:30px}				/* Oswald Heading	*/
.notificationWideBoxYellow{background-color:#E9E5A6;border-color:#247143;border-style:solid;border-width:9px 1px;float:left;padding:18px;width:1220px/*padding:15px;width:1226px*/}
.notificationWideBoxYellow h1{color:#247143;float:left;font-size:26px;font-weight:lighter;;line-height:30px}		/* Oswald Heading	*/

.notificationHalfContentBoxMain{width:600px;float:right;padding:0 5px;background-color:#cad1cd;border:2px solid #85c59f;}
.notificationHalfContentBox{border:1px solid #247143;overflow-y:auto;margin: 35px 0 5px 0;}
.notificationWideContentType{font-family:arial;font-size:12px;line-height:17px;}									/* Arial Content in Regular Format	*/
.notificationWideContent{float:left;height:300px;overflow-y:auto;padding:8px 0;width:1226px}
.notificationWideContent ul{margin: 10px 0 0;}
.boldBlueHeading {color:#247143;font-size:12px;font-weight:bold; margin:8px 0 0;}

.notificationContentBox{border:1px dotted #01546E;font-family:Arial;font-size:12px;height:300px;overflow-y:auto;margin: 30px 0 0;padding: 0 5px 5px;}
/*
.notificationContentBoxMain{width:404px;float:left;padding:0 2px;}	
.dottedTable{border:1px dotted #01546E;font-family:Arial;font-size:12px;height:300px;overflow-y:auto;margin: 30px 0 0;padding: 0 5px 5px;}
*/
.headerRow{background-color:#d0ffff;color:#247143;height:32px;padding:1px 0 0 20px}
.headerRow a{color:#247143;font-size:18px;}

.halfContentBoxMain{width:592px;float:left;padding:0 5px;margin:0 2px;background-color:#cad1cd;border:2px solid #85c59f;}
.halfContentBox{border:1px solid #247143;height:500px;overflow-y:auto;margin: 35px 0 5px 0;}


/*		===============	POP UP LAYOUT Start ===============		*/
.popupMainDiv{float:none;margin:0 auto;width:650px; background-color:#FFFFFF;  font-family: 'OSWALD-LIGHT';}
.popupHeaderMain{background-color:#247143;/*background:url(../images/header_bg.jpg) 0 0 repeat-x;*/height:55px;padding:23px 0 0 40px; width:610px}
.popupHeaderTitle{color:#FFF;font-size:36px; font-family:'Oswald-Light';font-weight:normal;line-height:30px}
.popupHeaderTitle a {color:#FFFFFF;font-family:'Oswald-Light';font-size:36px;font-weight:normal;line-height:30px}
.popupNotificationMain{float:none;margin:0 auto;width:650px}
.popupNotificationBox{background-color:#FFF;border-color:#247143;border-style:solid;border-width:9px 1px;float:left;margin:0 0 10px 15px;padding:5px 15px;width:588px}
.popupNotificationBox h1{color:#247143;float:left;font-size:26px;font-weight:lighter;line-height:30px;width:100%}
.popupNotificationContent{float:left;font-family:arial;font-size:12px;height:200px;line-height:17px;overflow-y:auto;padding:7px 0}
.popupMidMain{float:left;Margin:10px 0 0;width:100%}
/*		===============	POP UP LAYOUT End	===============		*/

/* ======== Weekend Off Schedule ======== */

.weekendPopupMainDiv{float:none;height:675px;margin:0 auto;width:650px; background-color:#FFFFFF }
.weekendPopupHeading{color:#247143;float:left;font-family:oswald;font-size:26px;font-weight:lighter;line-height:30px;margin:0 0 10px;text-align:center;width:100%}
.weekendPopupCol{border-width:0 1px 1px 0;border-style:dotted;border-color:#999;height:30px;padding:0 0 0 5px;}
.weekendPopupColLast{border-width:0 0 1px;border-style:dotted;border-color:#999;height:30px;padding:0 0 0 5px;}
.weekendPopupRowAlternate{background-color:#cdf2dc;}
.weekendPopupBtnRed{background-color:#FDB5B0;border:2px solid #FF0000;padding:3px}
.weekendPopupBtnBlue{background-color:#cdf2dc;border:2px solid #247143;padding:3px}

/* ======== Time Card ======== */

.timeCard{float:left;height:auto;width:100%}
.timeCardMain{background-color:#FFFFFF;float:none;height:1160px;margin:0 auto;width:1160px}
.timeCardTitle{font-family:'oswald';font-size:18px;line-height:20px}
.solidRightBorder{border-right:1px solid #000;height:28px;padding:0 0 0 5px;}
.solidBottomBorder{border-bottom:1px solid #000;padding:0 0 0 5px;}
.dottedRightBorder{border-right:1px dotted #CACACA;height:28px;padding:0 0 0 5px;}
.dottedBottomBorder{border-bottom:1px dotted #CACACA;height:28px;padding:0 0 0 5px;}
.dashedRightBorder{border-right:1px dashed #727272;height:28px;padding:0 0 0 5px;}
.dashedBottomBorder{border-bottom:1px dashed #BBBBBB;padding:0 0 0 5px;}
.blueDashedBottomBorder{border-bottom:1px dashed #537CC8;padding:0 0 0 5px;}
.tableDottedBorder{border-color:#999999;border-style:dotted;border-width:1px;margin:0 16px}
.late{color:#FF0000}
.throughText{text-decoration:line-through}
.timeCardCalculationTable{float:left;margin:10px 20px 0 15px;width:700px}
.timeCardLeaveStatus{float:left;margin:10px 20px 0 0;width:300px}

/*		===============	TRAINING MODULE	Start	===============		*/
.sliderContainer{background-color:#d0ffff;border:3px solid #85c59f;padding:0px;width:950px;height:443px;float:left;}
.rightPanelContainer{background-color:#85c59f;border:3px solid #85c59f;padding:0px;width:295px;height:443px;float:left;margin:0 0 0 1px;}
.imageContainer{background-color:#FFFFFF;height:146px;margin: 0 0 2px 0;}
.zeroMargin{margin:0;}
.knowledgeBaseImage{background:url('../images/modules/knowledge_base.jpg') no-repeat scroll center bottom transparent;}
.visualLearningImage{background:url('../images/modules/visual_learning.jpg') no-repeat scroll center bottom transparent;}
.audioLearningImage{background:url('../images/modules/audio_learning.jpg') no-repeat scroll center bottom transparent;}

.articleTextContainerMain{border-color:#85c59f;border-style:solid;border-width:0 3px 3px;float:left;}
.articleBackground{background:url('../images/modules/blue-pink-bg1.jpg') repeat scroll center bottom transparent;}
.articleTextContainer{width:950px;margin:20px 150px;}

.paddingSides{padding: 0 15px;}
.accordionHeading{font-family:'Oswald-Light';font-size:20px;font-weight:normal;color:#842052;}
.accordionHeading2{font-family:Calibri;font-size:16px;font-weight:normal;color:#003647;}
.articleHeading{font-family:calibri;font-size:20px;color:#842052;margin:5px 0;}
.articleText{font-family:calibri;font-size:18px;color:#2C3F64;padding:0 0 10px}
.articleText a{color:#247143;text-decoration:none}
.articleText a:hover{color:#616364;text-decoration:underline}

.articleText ul{list-style-type: square;margin-left:30px;}
.africePortMap{background:url('../images/modules/training_africa_map.gif') no-repeat scroll left top transparent; height:435px;width:500px;margin: 10px 100px}
.auctionSheet{background:url('../images/modules/training_auction_sheet.jpg') no-repeat scroll left top transparent; height:900px;width:1110px;margin: 2px 5px;}
.businessProcessChart{float:left;width:1110px;height:687px;margin: 2px 5px;background:url('../images/modules/training_business_process_flow.jpg') no-repeat scroll center bottom transparent;}
.howToBuy{float:left;width:715px;height:133px;margin: 10px 202px;background:url('../images/modules/training_how_to_buy.jpg') no-repeat scroll center bottom transparent;}

.notificationWideContentLarge{float:left;/*min-height:600px;overflow-y:auto;*/padding:8px 0;width:1226px}
.tableContainer{border:1px solid #247143;background-color:#FFFFFF;float:100%;overflow:auto;margin:0 0 10px;}
.paragraphSubHeading{font-family:calibri;font-size:18px;color:#247143;margin:10px 0;text-decoration:underline;}
.paragraphText{font-family:calibri;font-size:16px;color:#414547;}
.paragraphText ul{margin-left:20px;}
.paragraphText ul li{font-family:calibri;font-size:16px;color:#414547;}
.rightPadding{float:right;padding-bottom:5px}
/*		===============	TRAINING MODULE	End		===============		*/

.green{background-color:#CCE5A6;}
.yellow{background-color:#FFFD91;}
.red{background-color:#FF8880;}