<p><strong>Dear All,</strong> <br /><br /></p>
<p>Following are the new changes incorporated in HR Department</p>
<p>
 <ul >
<li>Mr. Waqas Khalid has been shifted from recruitment team to OD &amp; HR Operations.</li>
<li>Ms. Sidrah Raza has been shifted from OD &amp; HR Operations to Recruitment.</li>
</ul>
<br /><br />